<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Diabetes Type Predictor</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
            flex-direction: column; /* Added */
        }

        

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            width: 100%;
        }

        .ml-container {
            max-width: 60%;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-input {
            display: none;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }

        .my-cta-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none; /* Added */
        }

        .my-cta-button:hover {
            background-color: #0056b3;
        }

        .sidebar {
            background-color: #343a40;
            color: #ffffff;
            padding: 20px;
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        .sidebar-checkbox {
            margin-bottom: 10px;
        }
        .header {
            text-align: center;
            padding: 20px;
            background-color: #343a40;
            color: #ffffff;
            width: 100%;
        }
        
        
    </style>
</head>

<body>

    <!-- Header -->
    
    <div class="header">
        <h2 class='container-heading'><span class="heading_font">Diabetes Type Predictor</span></h2>
        <div class='description'>
            <p>This is for informational purposes only. This information does not constitute medical advice or diagnosis😊</p>
        </div>
    </div>
    

    <!-- Container -->
    <div class="container">
        <!-- Sidebar -->
        

       <!-- Sidebar -->
<div class="sidebar">
    <h2 class='container-heading'><span class="heading_font">Options</span></h2>
    <label class="sidebar-checkbox" title="Age of the individual (years)">
        <input type="checkbox" id="ageCheckbox" checked > Age (years)
    </label>
    <label class="sidebar-checkbox" title="Sex of the individual (0 for Male, 1 for Female)">
        <input type="checkbox" id="sexCheckbox" checked> Sex
    </label>
    <label class="sidebar-checkbox" title="Number of pregnancies">
        <input type="checkbox" id="pregnanciesCheckbox" checked > Number of Pregnancies
    </label>
    <label class="sidebar-checkbox" title="Glucose concentration in the blood (mg/dL) Glucose refers to the concentration of sugar in the blood, typically measured in milligrams per deciliter (mg/dL).">
        <input type="checkbox" id="glucoseCheckbox" checked> Glucose (mg/dL)
    </label>
    <label class="sidebar-checkbox" title="Blood pressure measurement (mmHg) Blood Pressure refers to the force of blood against the walls of the arteries as the heart pumps it around the body, measured in millimeters of mercury (mmHg).">
        <input type="checkbox" id="bloodPressureCheckbox" checked> Blood Pressure (mmHg)
    </label>
    <label class="sidebar-checkbox" title="Thickness of skin (mm) Skin Thickness (mm) indicates the thickness of the skin, typically measured in millimeters, which may be relevant for certain medical conditions or assessments such as insulin injection depth.">
        <input type="checkbox" id="skinThicknessCheckbox" checked> Skin Thickness (mm)
    </label>
    <label class="sidebar-checkbox" title="Body Mass Index (kg/m²) Body Mass Index (BMI) is a measure of body fat based on height and weight, calculated by dividing weight in kilograms by the square of height in meters. " >
        <input type="checkbox" id="bmiCheckbox" checked> Body Mass Index (kg/m²)
    </label>
    <label class="sidebar-checkbox" title="Function that represents the likelihood of diabetes based on family history">
        <input type="checkbox" id="dpfCheckbox" > Diabetes Pedigree Function
    </label>
    
    <label class="sidebar-checkbox" title="Weight of the individual (kg)">
        <input type="checkbox" id="weightCheckbox"> Weight (kg)
    </label>
    <label class="sidebar-checkbox" title="Height of the individual (m)">
        <input type="checkbox" id="heightCheckbox"> Height (m)
    </label>
    <label class="sidebar-checkbox" title="HDL (High-Density Lipoprotein) level HDL (High-Density Lipoprotein) refers to the type of cholesterol commonly known as good cholesterol, as it helps remove other forms of cholesterol from the bloodstream, reducing the risk of heart disease.">
        <input type="checkbox" id="hdlCheckbox" > HDL
    </label>
    <label class="sidebar-checkbox" title="Family history of diabetes (1 for Yes, 0 for No) Family History indicates whether there is a history of diabetes in the individual's family, serving as a potential risk factor for the development of diabetes.">
        <input type="checkbox" id="familyHistoryCheckbox"> Family History
    </label>
    <label class="sidebar-checkbox" title="HbA1c level (1 for Yes, 0 for No) HbA1c (Hemoglobin A1c) is a measure of average blood glucose levels over the past 2 to 3 months, providing an indication of long-term blood sugar control in individuals with diabetes.">
        <input type="checkbox" id="hba1cCheckbox" > HbA1c
    </label>
    <label class="sidebar-checkbox" title="Presence of autoantibodies (1 for Yes, 0 for No) Autoantibodies are antibodies produced by the immune system that mistakenly target and attack the body's own tissues, often associated with autoimmune diseases like type 1 diabetes.">
        <input type="checkbox" id="autoantibodiesCheckbox" > Autoantibodies
    </label>
    <label class="sidebar-checkbox" title="Insulin taken (1 for Yes, 0 for No) Insulin taken indicates whether the individual is currently taking insulin for diabetes management.">
        <input type="checkbox" id="insulinTakenCheckbox" > Insulin taken
    </label>
    <label class="sidebar-checkbox" title="Hypoglycemia (1 for Yes, 0 for No) Hypoglycemia refers to the condition of having abnormally low blood sugar levels.">
        <input type="checkbox" id="hypoglycemiaCheckbox" > Hypoglycemia
    </label>
    <label class="sidebar-checkbox" title="Gestation in previous pregnancy (1 for Yes, 0 for No) Gestation in previous Pregnancy refers to whether the individual experienced gestational diabetes during a previous pregnancy, which can influence the risk of developing diabetes in subsequent pregnancies or later in life.">
        <input type="checkbox" id="gestationCheckbox" > Gestation in previous Pregnancy
    </label>
    
    <label class="sidebar-checkbox" title="Polycystic ovary syndrome (1 for Yes, 0 for No) PCOS (Polycystic Ovary Syndrome) is a hormonal disorder common among women of reproductive age, characterized by infrequent or prolonged menstrual periods, excess male hormone levels, and polycystic ovaries, potentially increasing the risk of diabetes.">
        <input type="checkbox" id="pcosCheckbox" > PCOS
    </label>
    <label class="sidebar-checkbox" title="Sedentary lifestyle (1 for Yes, 0 for No) Sedentary lifestyle is a lifestyle type, in which one is physically inactive and does little or no physical movement and or exercise.">
        <input type="checkbox" id="sedentaryLifestyleCheckbox"> Sedentary Lifestyle
    </label>
    <label class="sidebar-checkbox" title="Prediabetes (1 for Yes, 0 for No) Prediabetes is a condition where blood sugar levels are high but not high enough to qualify for diabetes">
        <input type="checkbox" id="prediabetesCheckbox" > Prediabetes
    </label>
</div>
 <!-- Text Area -->
        <div class="ml-container">
            <form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" id="ageInput" name="age" placeholder="Age (years) eg. 30" style="display: block;">
                <input class="form-input" type="text" id="sexInput" name="sex" placeholder="Sex eg. 0-Male/1-Female" style="display: none;">
                <input class="form-input" type="text" id="pregnanciesInput" name="pregnancies" placeholder="Number of Pregnancies eg. 0" style="display: block;">
                <input class="form-input" type="text" id="glucoseInput" name="glucose" placeholder="Glucose (mg/dL) eg. 80" style="display: block;">
                <input class="form-input" type="text" id="bloodPressureInput" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80" style="display: block;">
                <input class="form-input" type="text" id="skinThicknessInput" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20" style="display: block;">
                <input class="form-input" type="text" id="bmiInput" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" style="display: block;">
                <input class="form-input" type="text" id="dpfInput" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52" style="display: block;">
                <input class="form-input" type="text" id="weightInput" name="weight" placeholder="Weight (kg) eg. 60.5" style="display: none;">
                <input class="form-input" type="text" id="heightInput" name="height" placeholder="Height (m) eg. 1.5" style="display: none;">
                <input class="form-input" type="text" id="hdlInput" name="hdl" placeholder="HDL eg. 50" style="display: none;">
                <input class="form-input" type="text" id="familyHistoryInput" name="familyHistory" placeholder="Family History eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="hba1cInput" name="hba1c" placeholder="HbA1c eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="autoantibodiesInput" name="autoantibodies" placeholder="Autoantibodies eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="insulinTakenInput" name="insulinTaken" placeholder="Insulin taken eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="hypoglycemiaInput" name="hypoglycemia" placeholder="Hypoglycemia eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="gestationInput" name="gestation" placeholder="Gestation in previous Pregnancy eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="pcosInput" name="pcos" placeholder="PCOS eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="sedentaryLifestyleInput" name="sedentaryLifestyle" placeholder="Sedentary Lifestyle eg. 1-Yes/0-No" style="display: none;">
                <input class="form-input" type="text" id="prediabetesInput" name="prediabetes" placeholder="Prediabetes eg. 1-Yes/0-No" style="display: none;">

                <button type="submit" class="my-cta-button">Predict</button>
                <button type="button" onclick="window.location.href=window.location.href" class="my-cta-button">Reset</button>

            </form>
        </div>
    </div>

    <script>
        // Function to toggle the visibility of input fields based on checkbox selection
        function toggleInputVisibility(checkboxId, inputId) {
            const checkbox = document.getElementById(checkboxId);
            const input = document.getElementById(inputId);

            checkbox.addEventListener('change', function () {
                input.style.display = checkbox.checked ? 'block' : 'none';
            });

            // Set initial display based on checkbox state
            input.style.display = checkbox.checked ? 'block' : 'none';
        }

        // Toggle visibility for each input based on the corresponding checkbox
        toggleInputVisibility('sexCheckbox', 'sexInput');
        toggleInputVisibility('pregnanciesCheckbox', 'pregnanciesInput');
        toggleInputVisibility('glucoseCheckbox', 'glucoseInput');
        toggleInputVisibility('bloodPressureCheckbox', 'bloodPressureInput');
        toggleInputVisibility('skinThicknessCheckbox', 'skinThicknessInput');
        toggleInputVisibility('bmiCheckbox', 'bmiInput');
        toggleInputVisibility('dpfCheckbox', 'dpfInput');
        toggleInputVisibility('ageCheckbox', 'ageInput');
        toggleInputVisibility('weightCheckbox', 'weightInput');
        toggleInputVisibility('heightCheckbox', 'heightInput');
        toggleInputVisibility('familyHistoryCheckbox', 'familyHistoryInput');
        toggleInputVisibility('hba1cCheckbox', 'hba1cInput');
        toggleInputVisibility('autoantibodiesCheckbox', 'autoantibodiesInput');
        toggleInputVisibility('insulinTakenCheckbox', 'insulinTakenInput');
        toggleInputVisibility('hypoglycemiaCheckbox', 'hypoglycemiaInput');
        toggleInputVisibility('gestationCheckbox', 'gestationInput');
        toggleInputVisibility('hdlCheckbox', 'hdlInput');
        toggleInputVisibility('pcosCheckbox', 'pcosInput');
        toggleInputVisibility('sedentaryLifestyleCheckbox', 'sedentaryLifestyleInput');
        toggleInputVisibility('prediabetesCheckbox', 'prediabetesInput');

    </script>

</body>

</html>
